@mixin title($fz, $fw, $lh) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
}

@mixin text($fz, $fw, $lh) {
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
}

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@mixin transition($e, $time, $type) {
  transition: $e $time $type;
  -o-transition: $e $time $type;
  -moz-transition: $e $time $type;
  -webkit-transition: $e $time $type;
}
