.theme-switch-wrapper {
  display: flex;
  align-items: center;

  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 3px 0;
  text-align: center;
}

.theme-switch {
  display: inline-block;
  position: relative;

  input {
    display: none;
  }
}
/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.fa-sun {
  display: none;
}

.fa-moon {
  display: inline-block;
}

input:checked + .mode-container {
  i.fa-sun {
    display: inline-block;
  }
  i.fa-moon {
    display: none;
  }
}